body {
   -webkit-app-region: drag;
   background-color : #000000;
   overflow-x: hidden;
}

.item
{
  background-color : #353535;
  max-width: 600px;
}

#models
{
  color : white;
}

.status
{
  border-radius : 33px;
  background-color: blue;
}

.status-off
{
  background-color: purple;
}

.status-public
{
  background-color: green;
}

.status-groupShow
{
  background-color: red;
}

.status-virtualPrivate
{
  background-color: red;
}

.status-private
{
  background-color: red;
}

.model-img
{
  width : 166px;
  height : 88px;
}
