body {
   -webkit-app-region: drag;
   background-color : #000000;
   overflow-x: hidden;
}

.item
{
  background-color : #353535;
  width: 700px;
}

#models
{
  color : white;
}

.status
{
  border-radius : 33px;
  background-color: blue;
}

.status-off
{
  background-color: purple;
}

.status-public
{
  background-color: green;
}

.status-groupShow
{
  background-color: red;
}

.status-virtualPrivate
{
  background-color: red;
}

.status-private
{
  background-color: red;
}

.model-img
{
  width : 166px;
  height : 88px;
}

.spinner {
  display: block;
  position: fixed;
  z-index: 1031; /* High z-index so it is on top of the page */
  top: 50%;
  right: 50%; /* or: left: 50%; */
  margin-top: -..px; /* half of the elements height */
  margin-right: -..px; /* half of the elements widht */
  width: 80px;
  height : 80px;
}

.btn-notify-enabled
{
  background-color : blue;
}

.btn-notify-disabled
{
  background-color : grey;
}
