body {
   -webkit-app-region: drag;
   background-color : #000000;
   overflow-x: hidden;
}

.item
{
  background-color : #353535;
  max-width: 600px;
}

#models
{
  color : white;
}

.state
{
  border-radius : 33px;
  background-color: blue;
}

.state-0
{
  background-color: green;
}

.state-1
{
  background-color: yellow;
}

.state-2
{
  background-color: red;
}

.model-img
{
  width : 166px;
  height : 88px;
}
